.dash {
  height: 300px;
  width: auto;
  background-color: #1B2B39;
  color: #F3F3F7;
  text-align: left;
  padding-top: 15px;

  h4 {
    color: #F3F3F7;
  }

  ul.sensors-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;

    li.sensors-list-item {
      font-size: 20px;
      margin: 5px 0px;

      &.active {
        text-shadow: 0 0 40px #3EAE6A;
      }
    }
  }
}
