@import "./card.less";
@import "./navbar.less";

// http://www.colorzilla.com/gradient-editor/#30c6d1+0,192a5c+48,19194a+100
body {
  background: #ECEDF1;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

.header {
  height: 300px;
  width: auto;
  background-color: #1B2B39;
  color: #F3F3F7;
  text-align: center;
  padding-top: 15px;

  h4 {
    color: #F3F3F7;
  }
}
